<!-- NavBar -->
<app-my-nav></app-my-nav>

<!-- Code starts here -->
<form action="" style="margin-top: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <mat-card>
                    <mat-card-content>
                        <div class="container">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <mat-card-title>
                                        {{cardTitle}}
                                    </mat-card-title>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                                    <mat-form-field class="fWidth">
                                        <mat-label>Name</mat-label>
                                        <input matInput value="" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                                    <mat-form-field class="fWidth">
                                        <mat-label>Middle name</mat-label>
                                        <input matInput value="" type="text">
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                                    <mat-form-field class="fWidth">
                                        <mat-label>Last name</mat-label>
                                        <input matInput value="" type="text">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</form>