<!-- NavBar -->
<app-my-nav></app-my-nav>

<!-- Code starts here -->
<div>
    <div class="navi" style="margin-top: 30px;">
        <div class="asa-g-e"></div>
        <div class="asa-g-d"></div>
        <div class="asa-p-e"></div>
        <div class="asa-p-d"></div>
        <div class="corpo"></div>
    </div>
</div>
<div class="container">
    <div style="text-align: center; margin-top: 300px;">
        <h1 class="font" style="font-size:4em;">Welcome</h1>
        <p class="font2">This website is for educational purpose only, it was created for practice different developing tools, feel free to look around and interact with the site, it will be used for registry users and enter gaming information...</p>
        <h3 class="fontCustom" style="font-size:1em;">Regards, Jorge Andres.</h3>
    </div>
</div>