<html>

<head>
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="https://joeybergeron.com/_/404/assets/styles.css">
</head>

<body>
    <div class="container">
        <div class="centeredContent">
            <div class="map">
                <div class="link"></div>
                <label>404 Not found</label>
                <br>
                <img src="https://img.icons8.com/bubbles/100/000000/back.png" (click)="navigateTo()">
            </div>
        </div>
    </div>
</body>

</html>